.input {
    background-color: transparent;
    border: 1px solid #DB4947;
    border-radius: 10px;
    box-sizing: border-box;
    font-style: italic;
    transition: all 0.3s ease-in-out;
    color: white;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(219, 73, 71, 0.7);
}

.regular {
    width: 500px;
    height: 40px;
    padding: 10px;
}

.search {
    height: 45px;
    padding: 10px;
}

.small {
    height: 30px;
    padding: 7px;
}