@font-face {
    font-family: Lexend;
    src: url("./assets/fonts/Lexend[wght].ttf");
}

body {
    margin: 0;
    font-family: Lexend;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #010020;
    color: #FFFFFF;
}

* {
	scrollbar-width: none;
	scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
	width: 0px;
}

*::-webkit-scrollbar-thumb {
	background-color: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}