.thread-container {
    margin-bottom: 200px;
}

.thread-container svg {
    height: 3rem;
}

.thread-form-container {
    margin-top: 30px;
}

.thread-list-container {
    display: inline-block;
    padding: 10px 0;
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}

.thread-container-image {
    width: 50px;
    height: 50px;
}

.thread-operations {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin: auto;
}

.thread-pagination-buttons {
    margin-top: 50px;
}

.thread-paginaton-page-number {
    margin: 20px;
}

.thread-title {
    margin: 15px;
}

.thread-description-text {
    max-width: 80%;
    margin: auto;
}

.thread-list-main-div {
    margin-bottom: 50px;
}

.thread-list-search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.thread-container-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 300px) {
    .thread-list-container {
        width: 250px;
    }
}