.footer {
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
}

.darkLogo {
    width: 163px;
    max-width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
}

#subscribeEmail {
    margin-top: 10px;
}

.coloredText {
    color: #db4947;
}

.subscibe,
.info {
    margin: 50px;
}

.location,
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location svg,
.contact svg {
    margin-right: 7px;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials svg {
    cursor: pointer;
    transition: color 200ms;
    margin: 15px;
}

.socials svg:hover {
    color: #db4947;
}

.policies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.policies p {
    margin: 10px;
    transition: color 350ms;
}

.policies p:hover {
    color: #db4947;
    cursor: pointer;
}

.footer-text {
    color: gray;
    margin-bottom: 150px;
}

@media screen and (max-width: 700px) {
    .footer-content {
        display: block;
    }

    .subscibe,
    .info {
        margin: 20px;
    }

    .footer {
        padding: 5px;
    }
}