.footer {
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.darkLogo {
    width: 163px;
    max-width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
}

#subscribeEmail {
    margin-top: 10px;
}

.coloredText {
    color: #db4947;
}

.subscibe,
.info {
    margin: 50px;
}

.location,
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location svg,
.contact svg {
    margin-right: 7px;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials svg {
    cursor: pointer;
    transition: color 200ms;
    margin: 15px;
}

.socials svg:hover {
    color: #db4947;
}