.login,
.register {
    margin-bottom: 150px;
}

.loginImage,
.registerImage {
    width: 220px;
    max-width: 100%;
    margin: 30px;
}

.form-control {
    margin-bottom: 20px;
}

.error {
    color: #db4947;
    margin-top: 5px;
}

.loginLinks {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.registerLinks,
.loginLinks {
    margin-top: 20px;
}

.mainLink {
    cursor: pointer;
}

.coloredLink {
    color: #db4947
}

@media screen and (max-width: 540px) {
    .loginLinks {
        max-width: 90%;
    }

    .mainLink {
        margin: 1px;
    }
}