.comics-container {
    padding: 10px;
    margin-bottom: 200px;
}

.comics-container-image {
    width: 250px;
}

.comics-description {
    width: 80%;
    margin: auto;
}

.comics-link-container {
    margin-bottom: 200px;
    padding: 10px;
}

.comics-link {
    display: inline-block;
    margin: 15px;
    width: 150px;
}

.comics-link p {
    color: white;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comics-link a {
    color: white;
    text-decoration: none;
}

.comics-link-image {
    width: 150px;
    height: 230px;
    object-fit: fill;
    transition: all 300ms;
}

.comics-link-image:hover {
    box-shadow: 0 14px 28px rgba(9, 5, 87, 0.25), 0 10px 10px rgba(9, 5, 87, 0.22);
    transform: translateY(-7px) scale(1.05);
}

.rating-stars svg {
    margin: 5px;
    cursor: pointer;
}

.rating-counts {
    width: 500px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}

.rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comics-rating-progress-bar {
    width: 75%;
}

.comics-item-header {
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.comics-item-info {
    width: 300px;
}

@media screen and (max-width: 700px) {
    .comics-item-header {
        display: block;
        width: 100%;
    }

    .comics-item-info {
        margin: auto;
        width: 250px;
    }
}

@media screen and (max-width: 550px) {
    .rating-counts {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .comics-rating-votes {
        display: none;
    }
}