.comics-container {
    padding: 10px;
    margin-bottom: 200px;
}

.comics-container-image {
    width: 250px;
}

.comics-description {
    width: 80%;
    margin: auto;
}

.comics-link-container {
    margin-bottom: 200px;
    padding: 10px;
}

.comics-link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.comics-link-image {
    width: 150px;
    height: 230px;
    object-fit: cover;
}