.genres {
    padding: 20px;
}

.column img {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.column img:hover {
    transform: translateY(-7px);
    box-shadow: 0 14px 28px rgba(9, 5, 87, 0.25), 0 10px 10px rgba(9, 5, 87, 0.22);
    scale: 1.05;
}