.nested-comments {
    padding-left: .5rem;
    flex-grow: 1;
}

.nested-comments-stack {
    display: flex;
}

.collapse-line {
    border: none;
    background: none;
    padding: 0;
    width: 15px;
    margin-top: .5rem;
    position: relative;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
}

.collapse-line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #DB4947;
}

.hide {
    display: none;
}

.user-avatar {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.comment-container {
    border: 1px solid #DB4947;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    padding: 7px;
    margin-top: 30px;
}

.comment-user-info,
.comment-like {
    display: flex;
    align-items: center;
}

.comment-container-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thread-operations {
    width: 100px;
    margin: auto;
}

.comment-container-operations {
    display: flex;
    align-items: center;
    justify-content: space-around;
}