.nested-comments {
    padding-left: .5rem;
    flex-grow: 1;
}

.nested-comments-stack {
    display: flex;
}

.collapse-line {
    border: none;
    background: none;
    padding: 0;
    width: 15px;
    margin-top: .5rem;
    position: relative;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
}

.collapse-line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #DB4947;
}

.hide {
    display: none;
}

.user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 7px;
}

.comment-container {
    padding: 10px;
    margin-top: 50px;
    text-align: left;
    border: 1px solid rgba(219, 73, 71, 0.2);
    border-radius: 10px;
}

.comment-user-info,
.comment-like {
    display: flex;
    align-items: center;
}

.comment-date {
    margin-left: 20px;
}

.comment-container-top-section {
    display: flex;
    align-items: center;
}

.comment-container-operations {
    display: flex;
    align-items: center;
}

.comment-container-operations svg,
.comment-message {
    margin-left: 20px;
}

.thread-message {
    word-wrap: break-word;
}

.comment-like-count {
    margin-left: 3px;
    margin-right: 2px;
}

.showReplies {
    color: #DB4947;
    cursor: pointer;
    text-align: left;
    margin-left: 35px;
}

@media screen and (max-width: 700px) {
    .comment-container {
        margin-left: 0;
    }

    button {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .comment-container-top-section {
        display: block;
    }

    .comment-date {
        margin-left: 40px;
    }
}